[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "==4.32.0"
peft = "*"
sentencepiece = "*"
accelerate = "*"
torch = "*"
datasets = "*"
bitsandbytes = "*"
scipy = "*"
ipykernel = "*"
jupyter = "*"
ipywidgets = "*"
google = "*"
protobuf = "*"
torchvision = "*"
torchsummary = "*"
matplotlib = "*"
pip = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
statsmodels = "*"
pillow = "*"
tqdm = "*"
adjusttext = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
